<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <ItemGroup>
    <!-- Package sources used to restore packages. By default, registered sources under %APPDATA%\NuGet\NuGet.Config will be used -->
    <!-- The official NuGet package source (https://www.nuget.org/api/v2/) will be excluded if package sources are specified and it does not appear in the list -->
    <PackageSource Include="https://ftlteamcitys02.eng.citrite.net/guestAuth/app/nuget/v1/FeedService.svc/" />
    <PackageSource Include="https://csg-nuget.eng.citrite.net/nuget/CloudServices/" />
    <PackageSource Include="https://www.nuget.org/api/v2/" />
  </ItemGroup>
</configuration>